/* fonts
---------------------------------------------------------------------*/
@font-face {
  font-family: "audimat";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/audimat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/audimat-regular-webfont.woff") format("woff"), url("../fonts/audimat-regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "audimat";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/audimat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/audimat-bold-webfont.woff") format("woff"), url("../fonts/audimat-bold-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "audimat";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/audimat-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/audimat-italic-webfont.woff") format("woff"), url("../fonts/audimat-italic-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "audimat";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/audimat-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/audimat-bolditalic-webfont.woff") format("woff"), url("../fonts/audimat-bolditalic-webfont.ttf") format("truetype"); }
/* colors
---------------------------------------------------------------------*/
/* variables
---------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
*,
*:after,
*:before {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

html,
body {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.5; }

body {
  margin: 0;
  font-family: 'audimat';
  font-size: 1.6rem;
  font-weight: normal; }

body.isLoading {
  overflow: hidden; }

.container-canvas {
  background-color: rgba(0, 255, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

canvas,
.modal-info {
  width: 100rem;
  height: calc(100vh - 200px);
  background-color: white;
  border: 2px solid black;
  box-shadow: 3px 3px 0 black; }

canvas {
  z-index: 1; }

.modal-info {
  overflow-y: auto;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10rem 20rem;
  z-index: 9;
  opacity: 0.95; }
  .modal-info h1 {
    margin-top: 0; }
    .modal-info h1 span {
      font-style: italic;
      font-size: 3em; }

.instructions {
  margin-top: 10rem;
  line-height: 2em; }

.icon-info {
  position: absolute;
  bottom: calc(calc(100vh - 200px) + 31px);
  left: calc(100rem + ((100vw - 100rem) / 2) - 70px);
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  color: black;
  background: lime;
  z-index: 999; }

.icon-info:hover {
  color: white;
  background: black; }

.footnote {
  color: #ccc;
  margin-bottom: 0; }

hr.footnote {
  margin-top: 4em; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* main
---------------------------------------------------------------------*/
/* media queries
---------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
  canvas,
  .modal-info {
    width: calc(100vw - 200px);
    height: calc(100vh - 200px); }

  .modal-info {
    padding: 10rem 6rem; }

  .icon-info {
    bottom: calc(calc(100vh - 200px) + 31px);
    left: calc(calc(100vw - 200px) + 30px); } }
@media only screen and (max-width: 768px) {
  canvas,
  .modal-info {
    width: calc(100vw - 100px);
    height: calc(100vh - 100px); }

  .modal-info {
    padding: 10rem 3rem; }

  .icon-info {
    bottom: calc(calc(100vh - 100px) - 0.5 * 31px);
    left: calc(calc(100vw - 100px) - 0.5 * 30px); } }
@media only screen and (max-width: 480px) {
  canvas,
  .modal-info {
    width: 100vw;
    height: 100vh; }

  .icon-info {
    bottom: calc(100vh + 31px);
    left: calc(100vw + 30px); } }
/* helper classes
---------------------------------------------------------------------*/
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*# sourceMappingURL=styles.css.map */
