@import "vendor/bourbon/bourbon";

/* fonts
---------------------------------------------------------------------*/

@include font-face('audimat', '../fonts/audimat-regular-webfont', $file-formats: eot ttf woff);
@include font-face('audimat', '../fonts/audimat-bold-webfont', bold, $file-formats: eot ttf woff);
@include font-face('audimat', '../fonts/audimat-italic-webfont', normal, italic, $file-formats: eot ttf woff);
@include font-face('audimat', '../fonts/audimat-bolditalic-webfont', bold, italic, $file-formats: eot ttf woff);

/* colors
---------------------------------------------------------------------*/


/*-------------------------------------------------------------------*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html,
body {
    height: 100%;
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    margin: 0;
    font-family: 'audimat';
    font-size: 1.6rem;
    font-weight: normal;
}

body.isLoading {
    overflow: hidden;
}

.container-canvas {
    background-color: rgba(0, 255, 0, 0.5);
    width: 100vw;
    height: 100vh;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
}

canvas,
.modal-info {
    height: 80rem;
    width: 130rem;
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
}

canvas {
    // display: none;
    z-index: 1;
}

.modal-info {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40rem 0 0 -65rem;
    padding: 10rem 30rem;
    z-index: 9;
    opacity: 0.95;
}

.icon-info {
    position: absolute;
    top: 158px;
    right: 230px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    color: black;
    background: rgb(0, 255, 0);
    z-index: 999;
}

.icon-info:hover {
    color: white;
    background: black;
}

.footnote {
    color: #ccc;
}

hr.footnote {
    margin-top: 32rem;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* main
---------------------------------------------------------------------*/

a#deck-svg {
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 2;
}


/* media queries
---------------------------------------------------------------------*/

@media only screen and (min-width: 1140px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 480px) {}


/* helper classes
---------------------------------------------------------------------*/

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}
